.back {
    border: none;
    background: none;

    font-size: var(--font-size-navbar);
    color: var(--secondary-text-color);
    font-family: inherit;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}
