.checkselect {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 10px 15px;
    margin: 5px 0;

    background-color: var(--primary-color);
    color: var(--primary-text-color);

    border: none;
    border-radius: 10px;

    font-family: inherit;
    font-size: var(--font-size-regular);
    text-decoration: none;

    svg {
        opacity: 0.3;

        &.selected {
            opacity: 1;
        }
    }
}
