.listitem {
    display: flex;
    flex-direction: row;
    align-items: center;

    .listitemlabel {
        // width: min-content;
        padding: 0;
        margin: 0;
    }

    .listitemcontent {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 5px;
    }
}
