.progressbar {
    background: var(--secondary-text-color-transparent);
    min-height: 1px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    margin: auto 0;

    .progressbarinner {
        background: var(--secondary-text-color);
        height: 100%;
        position: absolute;
        left: 0;
        transition: 0.25%;
    }

    &.progressbarvertical {
        width: 15px;
        height: 200px;

        .progressbarinner {
            width: 100%;
            position: absolute;
            bottom: 0;
            transition: 0.25%;
        }
    }
}
