.title {
    font-size: var(--font-size-xl);
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    &:after {
        display: block;
        margin-top: 7px;
        content: '';
        width: 75%;
        height: 5px;
        background-color: var(--text-color);
    }

    &.titlesmall {
        font-size: var(--font-size-regular);

        &:after {
            width: 50%;
            margin-top: 5px;
            height: 2px;
        }
    }
}
